.education-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(/horizons_village.png),
                  url(/stars.png),
                  url(/stars.png),
                  linear-gradient(180deg,#18150d,#323657 121.35%);
                  
  background-position: bottom, top, center 80%;
  background-size: 110% auto,
  110% auto,
  110% auto,
  110% auto;
  /* flex: 1 1 auto; */
  height: fit-content;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 50px;
  padding-top: 50px;
}

.education-content {
  display : flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  padding-top: 50px;
  padding-bottom: 50px;
}

.left-content {
  display : flex;
  flex-direction: row;
  width: 45%;
}


.title-cards {
  display: flex;
  flex-direction: column;
  gap:20px;
  padding-left: 50px;
  padding-right: 30px;
  width: 100%;
}

.item-details, .item-card, .card-content {
  background: rgba(50, 54, 87, 0.4);
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: row;
}

.item-card:hover {
  transform: scale(1.05);
}


.item-card.active {
  background-color: rgba(11, 13, 36, 1);
}

.card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.card-content:hover {
  color: #D4AF37;
}

.ed-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}
.ed-icon svg{
  font-size: 36px;

}

.right-content {
  display: flex;
  padding-left: 20px;
  padding-right: 40px;
  width: 55%;
}

.item-details {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  white-space: wrap;
  width: 100%;
}

h2 {
  margin: 5px;
  font-size: 1.5rem;
  font-weight: bold;
}

 h3 {
  margin: 3px;
  font-size: 1.2rem; 
  font-weight: 600; 
}

p {
  margin: 2px;
  font-size: 0.9rem;
  font-weight: 400;
}

@keyframes light-travel {
  0% {
      background-position: 0% 0%; /* Start at the top */
  }
  100% {
      background-position: 0% 100%; /* Move to the bottom */
  }
}
