/* Introduction Section */
.introduction {
    background: url('/background.png') no-repeat center/cover;
    /* width: 100%;
    position: relative;
    background-size: 100% auto;
    padding-bottom: 30vw; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 100%;
    padding-bottom: 30px;
    text-align: center;
    overflow: hidden;
    position: relative;
  }

  .intro-text {
    width: 70%;
    font-size: 20px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    /* text-align: left; */
    font-family: "dragonhunter", sans-serif;
    font-size: 1;
    font-weight: normal;
    /* padding-left:  30px; */
    padding-bottom: 20px;
    /* padding-top: 0;  */ 
    z-index: 999;
  }

  .intro-head {
    /* padding-left: 30px ; */
    /* padding-top: 10px; */
    /* padding-bottom: 0; */
    font-family: harry7;
    font-weight: 1000px;
    font-size: 60px;
    max-width: 90%;
    text-transform: uppercase;
    overflow: hidden;
    white-space: normal; /* Allow text to wrap naturally */
    word-wrap: normal; /* Prevent breaking words */
    overflow-wrap: break-word; /* Ensure long words wrap properly */
    word-break: keep-all;
  }
  
  @font-face {
    font-family: "harry7";
    src: url(../assets/fonts/Harrypotter7.ttf) format("truetype");   
  }
  
  @font-face {
    font-family: "dragonhunter";
    src: url("../assets/finders/dragonhunter.ttf") format("truetype");
  }

  /* .introduction::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(rgba(31, 30, 30, 0), #242633);
} */

/* .introduction::before {
    content: "";
    background: linear-gradient(1turn,#15111d 30%,rgba(21,17,29,0));
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
} */

.introduction::before {
  content: "";
  background: linear-gradient(1turn,#15111d 40%,rgba(21,17,29,0));
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
}


@media (max-width: 768px) {
  .header h1 {
      font-size: 1.5rem;
  }
  .introduction {
      padding: 40px 10px;
  }
  .introduction::after {
    height: 10vh; /* Reduce fade height for smaller screens */
}
}


.magic-ink span {
  opacity: 0;
  display: inline-block;
  color: #3b1f0f;
  font-family: 'Cinzel', serif;
  font-size: 2rem;
  animation: soakIn 0.5s forwards;
  text-shadow: 0 0 3px #00000077;
}

@keyframes soakIn {
  0% {
    opacity: 0;
    transform: scale(1.2) rotate(2deg);
    filter: blur(4px);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
    filter: blur(0);
  }
}