/* Navbar Section */
html {
  scroll-behavior:smooth;
}

.navbar {
    position: relative;
    left: 0;
    width: 100%;
    height: fit-content;
    padding: 5px 0;
    background-color: #00001b;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  }
  
  /* Navbar Items */
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px; 
    justify-content: center;
    align-items: center;
  }
  
  .navbar ul li {
    display: inline-block;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 20px 0px;
    transition: color 0.3s ease;
  }
  
  .navbar ul li a:hover {
    color: #d4af37; /* Golden Hover Effect */
    text-decoration: underline;
  }