.timeline-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(/horizons_village.png),
                    url(/stars.png),
                    url(/stars.png),
                    url(/stars.png),
                    linear-gradient(180deg,#15111d,#323657 121.35%);

    background-position: bottom, center 40%, top, center 80%;
    background-size: 100% auto,
    110% auto,
    110% auto,
    110% auto;
    /* flex: 1 1 auto; */
    height: fit-content;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 50px;
    padding-top: 0;
}


.timeline-container::before {
    content: "";
    position: absolute;
    bottom: 50px;
    top: 10%;
    left: 25%;
    width: 4px;
    background-color: #ffffff;
    transform: translateX(-50%);
    z-index: 1;
    /* animation: shimmer 2s infinite alternate ease-in-out; */
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(255, 255, 255, 0.5) 100%
      ); /* Gradient simulating light */
    animation: light-travel 1s infinite linear alternate ease-in-out;
    /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1)); */

}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.item-container {
    background: rgba(50, 54, 87, 0.5);
    display: flex;
    position: relative;
    width: 50%;
    left: 10%;
    height: fit-content;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 1);
    margin: 0;
    align-items: center;
}

.item-container.left {
    left: 14%

}

.item-container.right {
    left : 54%;
}

.item-content {
    width: 100%;
    height: 100%;
    padding-left: 20px;
    color: #ffffff;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.5;
    padding: 20px;
}

.item-content h2 {
  margin: 2px; /* Remove default margin */
  font-size: 1.2rem; /* Adjust heading size */
  font-weight: bold; /* Make it stand out */
}

.item-content h3 {
  margin: 2px; /* Remove default margin */
  font-size: 1rem; /* Adjust subheading size */
  font-weight: 600; /* Slightly bold */
}

.item-content p {
  margin: 2px; /* Remove default margin */
  font-size: 0.9rem; /* Adjust paragraph size */
  font-weight: 400; /* Normal weight for paragraphs */
}

.notch {
    position: absolute;
    top: 10%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px;
    transform: translateY(-10%);
    left: -40px; 
    border-color: transparent  rgba(50, 54, 87, 0.5) transparent transparent;
  }

.left .notch {
    right: -40px; 
    transform: rotate(180deg);
    border-color: transparent  rgba(50, 54, 87, 0.5) transparent transparent;
  }

  .right .notch {
    left: -40px; 
    border-color: transparent  rgba(50, 54, 87, 0.5) transparent transparent;
  }

  .icon {
    top: 80px;
    left: -25%;
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #15111d;
    border-radius: 50%;
    border: 3px solid #fbfdff;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 2;
  }

  .icon svg{
    font-size: 36px;
    z-index: 3;
  }

  .magic-glow {
    position: relative;
    animation: shimmer 2s infinite alternate ease-in-out;
  }
  
  @keyframes shimmer {
    0% { box-shadow: 0 0 5px rgba(255, 255, 255, 0.2); }
    100% { box-shadow: 0 0 15px rgba(255, 255, 255, 0.5); }
  }
  
  @keyframes light-travel {
    0% {
        background-position: 0% 0%; /* Start at the top */
    }
    100% {
        background-position: 0% 100%; /* Move to the bottom */
    }
}