.timeline-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(/horizons_village.png),
                    url(/stars.png),
                    url(/stars.png),
                    url(/stars.png),
                    linear-gradient(180deg,#15111d,#323657 121.35%);

    background-position: bottom, center 40%, top, center 80%;
    background-size: 100% auto,
    110% auto,
    110% auto,
    110% auto;
    /* flex: 1 1 auto; */
    height: fit-content;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 50px;
}


.timeline-container::before {
    content: "";
    position: absolute;
    bottom: 50px;
    top: 10%;
    left: 50%;
    width: 4px;
    background-color: #ffffff;
    transform: translateX(-50%);
    z-index: 1;
    animation: shimmer 2s infinite alternate ease-in-out;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));

}

.item-container {
    background: rgba(50, 54, 87, 0.2);
    position: relative;
    width: 30%;
    margin: 20px;
    height: 200px;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 1);
}
.item-container.left {
    left: 14%

}

.item-container.right {
    left : 54%;
}

.item-content {
    width: 100%;
    height: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.notch {
    position: absolute;
    top: 10%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px;
    transform: translateY(-10%);

  }

.left .notch {
    right: -40px; 
    transform: rotate(180deg);
    border-color: transparent  rgba(50, 54, 87, 0.5) transparent transparent;
  }

  .right .notch {
    left: -40px; 
    border-color: transparent  rgba(50, 54, 87, 0.5) transparent transparent;
  }

  .icon {
    top: 80px;
    left: 48%;
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #15111d;
    border-radius: 50%;
    border: 3px solid #fbfdff;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 2;
  }

  .icon svg{
    font-size: 36px;
    z-index: 3;
  }

  .magic-glow {
    position: relative;
    animation: shimmer 2s infinite alternate ease-in-out;
  }
  
  @keyframes shimmer {
    0% { box-shadow: 0 0 5px rgba(255, 255, 255, 0.3); }
    100% { box-shadow: 0 0 15px rgba(255, 255, 255, 0.8); }
  }
  